<!-- <div class="ui segment container">
  <div class="ui cards">
    <app-post *ngFor='let localPost of _posts | postFilter : filterPostName' [_post]='localPost'></app-post>
  </div>
</div> -->

<div class="container">
  <div >
    <div class="ui input right">
      <input (keyup)='filterPost$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='Search'>
    </div>
    <div class="ui btn addPostButton">
      <button routerLink='/post/add' class=" btn btn-primary">Add post</button>
    </div>
  </div>
  <div class="ui relaxed divided list">
    <app-post *ngFor='let localPost of _posts | postFilter : filterPostName' [_post]='localPost' (deletePost)='removePost($event)'></app-post>
  </div>
</div>

