<div class="ui raised segment opmaakSegment">
  <div class="ui items">
    <div class="item">
      <div class="content">
        <div class="header">
          <a routerLink='/post/{{_post.id}}'>{{_post.title}}</a>
        </div>
        <div class="description">
          <p>{{_post.inhoud}}</p>
        </div>
        <div class="extra">
          <p>Added on {{_post.dateAdded | date}} by {{_post.addedBy}}</p>
        </div>
        <div class="extra">
          <p>Number of comments: {{_post.aantalComments}}</p>
        </div>
      </div>
    </div>
  </div>
</div>