<div class="ui raised segment opmaakSegment">
  <div class="ui items">
    <div class="item">
      <div class="content">
          <div *ngIf='(currentUser | async) == _post.addedBy'>
              <button class="ui icon button opmaakButton">
                <i class="trash outline icon"></i>
              </button>
            </div>
        <div class="header">
          <a class="titelPost" routerLink='/post/{{_post.id}}'>{{_post.title}}</a>
        </div>
        <div class="description">
          <p>{{_post.inhoud}}</p>
        </div>
        <div class="extra">
          <p>Added on {{_post.dateAdded | date}} by {{_post.addedBy}}</p>
        </div>
        <div class="extra">
          <p>Number of comments: {{_post.aantalComments}}</p>
        </div>
        
      </div>
    </div>
  </div>
</div>