<div class="container">
  <h3>Register</h3>
  <!-- <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div> -->
  <form class="ui form" [formGroup]='user' (ngSubmit)='onSubmit()'>
    <div class="field">
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="Username" formControlName="username">
      <div class='ui pointing red basic label' *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
        a username is required
      </div>
      <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
        the username should be at least {{user.get("username").errors?.minlength.requiredLength }} letters
      </div>
      <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
        a user with that name already exists
      </div>
    </div>
    <div formGroupName="passwordGroup">
      <div class="field">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" formControlName="password">
        <div class='ui pointing red basic label' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
          password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
        </div>
      </div>
      <div class="field">
        <label for="confirmpassword">Confirm password</label>
        <input type="password" id="confirmpassword" formControlName="confirmPassword" placeholder="Confirm password">
        <div class='ui pointing red basic label' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
          the two passwords should be the same
        </div>
      </div>
    </div>
    <button class="ui positive right floated button" [disabled]='!user.valid' type="submit">Register</button>
  </form>
</div>