<!-- <div class="ui large form segment">
  <h3 class="ui header">Add post</h3>
  <div class="field">
    <label for="name">Titel:</label>
    <input id="name" name="name" #newPostTitle>
  </div>
  <div class="field">
    <label for="name">Inhoud</label>
    <input id="name" name="name" #newPostInhoud>
  </div>
  <button (click)="addPost(newPostTitle,newPostInhoud)" class="ui positive right floated button">
    add post
  </button>
</div> -->
<div class="container">
  <form [formGroup]='post' (ngSubmit)='onSubmit()'>
    <h2 class="ui header">Add a new post</h2>
    <div class="form-group">
      <label for="title_id">Title: </label>
      <input type="text" class="form-control" id="title_id" placeholder="title" formControlName='title'>
    </div>
    <div *ngIf='post.get("title").errors?.required && post.get("title").touched' class='ui pointing red basic label'>
      This is required!
    </div>
    <div class="form-group">
      <label for="inhoud_id">Inhoud</label>
      <input type="text" class="form-control" id="inhoud_id" placeholder="What's on your mind...?" formControlName="inhoud">
    </div>
    <div *ngIf='post.get("inhoud").errors?.required && post.get("inhoud").touched' class='ui pointing red basic label'>
        This is required!
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add post</button>
  </form>
</div>
<!-- <form [formGroup] = 'post' (ngSubmit)='onSubmit()'>
  <h3>Add post</h3>
  <div>
    <label for='title_id'>title:</label>
    <input type="text" id="title_id" formControlName='title'>
  </div>
  <div *ngIf='post.get("title").errors?.required && post.get("title").touched' 
    class='ui pointing red basic label'>
    error! this is required
  </div>
  <button type="submit">add</button>
</form> -->
<!-- REMOVE {{ post.value | json }} {{ post.valid }}
{{post.get("title").errors | json}} -->