.opmaakSegment{
    margin-bottom: 10px !important;
}

.buttonInside{
    position:relative;
    margin-bottom:10px;
  }

  input{
  height:25px;
  max-width:90%;
  padding-left:0px;
  border-radius: 4px;
  border:none;outline:none;
}
button{
  position:absolute;
  right: 3px;
  top: 0px;
  border:none;
  border-radius: 5%;
  outline:none;
  text-align:center;
  padding:2px;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important; 
}

.ng-valid:not(form) {
  border-left: 5px solid #3ac541 !important; 
}

span{
  font-size: 12px;
  font-weight: normal;
}

ul{
  list-style-type: none;
  margin-left: -5px;
}

li{
  margin-bottom: 5px;
}