<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
  crossorigin="anonymous">

<div class="ui secondary pointing menu container">
  <a class="item" routerLink="home">
    Home
  </a>
  <a class="item" routerLink="post-list">
    Posts
  </a>
  <a class="item" routerLink="News">
    News
  </a>
  <h6 *ngIf='(currentUser | async) else loginEnRegister' class="right menu" routerLinkActive='active'>Welcome {{currentUser|async}}</h6>
  <ng-template #loginEnRegister>
      <div class="right menu">
          <a class="ui item" routerLink="register">
            Register
          </a>
          <a routerLink="login" class="ui item">
            Login
          </a>
        </div>
  </ng-template>
</div>
<router-outlet></router-outlet>


<!-- <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to GameFreaks!</h1>
      <p class="lead">Welcome to the biggest game forum on the world wide web</p>
      <hr class="my-4">
      <p>Join the forum by making an account and start talking to other people across the world</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Create your account</a>
      </p>
    </div>
  </div> -->

<!-- <app-add-post></app-add-post>
<app-post-list></app-post-list> -->