<div *ngIf='(currentUser | async) else NotLoggedIn'>
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Welcome back {{currentUser|async}}!</h1>
          <p class="lead">There are new posts available! Go and watch them now!</p>
        </div>
      </div>
</div>

<ng-template #NotLoggedIn>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to GameFreaks!</h1>
      <p class="lead">Welcome to the biggest game forum on the world wide web</p>
      <hr class="my-4">
      <p>Join the forum by making an account and start talking to other people across the world</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink='/register' role="button">Create your account here!</a>
      </p>
    </div>
    <hr>
  </div>
</ng-template>