<div *ngIf='(currentUser | async) else NotLoggedIn'>
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Welcome back {{currentUser|async}}!</h1>
          <p class="lead">There are new posts available! Go and watch them now!</p>
        </div>
      </div>
</div>

<ng-template #NotLoggedIn>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to GameFreaks!</h1>
      <p class="lead">Welcome to the biggest game forum on the world wide web</p>
      <hr class="my-4">
      <p>Join the forum by making an account and start talking to other people across the world</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink='/register' role="button">Create your account</a>
      </p>
    </div>
    <hr>
    <h2>What is gameFreaks?</h2>
    <p>GameFreaks is a website designed to bring gamers from different continents together. Do you want to see what someone from Europe 
      is saying about your favorite game? No Problem! Just go to the post page to find thousands of posts and start searching!
    </p>
    <p>
      Watch out! If you want to visit the page you need to have an account! When logged in you can see the posts and even post something yourself!
    </p>
    <p>I hope you'll enjoy gameFreaks and wish you luck!</p>
    <p>
      Tristan Nieto
    </p>
  </div>
</ng-template>