<div class="container">
  <h3>Log in</h3>
  <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
  <form class="ui form" [formGroup]="user" (ngSubmit)='onSubmit()'>
    <div class="field">
      <label>Username</label>
      <input type="text" id="username" placeholder="Username" formControlName='username'>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="password" formControlName='password'>
    </div>
    <button class="ui positive right floated button" [disabled]='!user.valid' type="submit">Log in</button>
  </form>
  <a routerLink='/register'>Not registered yet?</a>
</div>
