<!-- <label for="username">username:</label>
<input type="text" id="username" formControlName='username'>
<div class='ui pointing red basic label' 
  *ngIf='user.get("username").errors?.userAlreadyExists 
  && user.get("username").touched'>
    a user with that name already exists
</div> -->
<div class="container">
  <h3>Log in</h3>
  <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
  <form class="ui form" [formGroup]="user" (ngSubmit)='onSubmit()'>
    <div class="field">
      <label>Username</label>
      <input type="text" id="username" placeholder="Username" formControlName='username'>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="password" formControlName='password'>
    </div>
    <button class="ui positive right floated button" [disabled]='!user.valid' type="submit">Login</button>
  </form>
  <a routerLink='/register'>Nog geen account?</a>
</div>
